@import '../libraries/auth0-styleguide/index'

.jumbotron
  background-color:#fff;
  border-top: 1px solid $bg-color-gray;
  h1
    color: $color-text;
  p
    color: $color-text-light;
.content
  background-color: $bg-color-gray-light;

#site-footer
  background-color: $bg-color-gray-light;
