@import '../libraries/auth0-styleguide/index'

.jumbotron
  background-color:#fff;
  h1
    color: $color-text;
  p
    color: $color-text-light;
.content
  background-color: $bg-color-gray-light;

#site-footer
  background-color: $bg-color-gray-light;

.border-top{
  border-top: 1px solid $bg-color-gray;
}

.wrapper-content{
  padding: 0px 70px 0 70px;
}
.rule-category{
  height:120px;
  margin: 20px 0 40px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  p{
    padding: 2px;
    color: $color-text-light;
  }
}

pre{
  max-height: 800px;
  overflow: auto;
}
